<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RepoLore.Properties.Settings.adAMSACONTPAQiConnectionString"
            connectionString="Data Source=AMSASERVER1\COMPAC;Initial Catalog=adAMSACONTPAQi;User ID=sa;Password=Contpaqi1"
            providerName="System.Data.SqlClient" />
        <add name="RepoLore.Properties.Settings.adAMSACONTPAQiConnectionString1"
            connectionString="Data Source=AM-SVR-APP01\COMPAC;Initial Catalog=adAMSACONTPAQi;User ID=sa;Password=AdminSql7639!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>