<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cotizacion.Properties.Settings.adACEROS_MEXICOConnectionString"
            connectionString="Data Source=192.168.1.127\COMPAC;Initial Catalog=adAMSACONTPAQi;Persist Security Info=True;User ID=sa;Password=AdminSql7639!"
            providerName="System.Data.SqlClient" />
        <add name="Cotizacion.Properties.Settings.ReportesAMSAConnectionString"
            connectionString="Data Source=192.168.1.127\COMPAC;Initial Catalog=ReportesAMSA;Persist Security Info=True;User ID=sa;Password=AdminSql7639!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>